@charset "utf-8";

body {
    background: #fff url('../img/background2.gif') repeat ;
    color: #000;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:90%;
    margin: 0;
}

#header h1 {
    line-height: 20px;
    background: #a52a2a url('../img/img3485.gif') no-repeat center;
    color: #003d4c;
    padding: 45px 30px;
}

div.form,
div.index,
div.view {
    float:right;
    width:76%;
    padding:10px 2%;
}

div.actions {
    float:left;
    width:16%;
    padding:10px 1.5%;
}

div.actions h3 {
    padding-top:0;
    color:#777;
}

table {
    border-right:0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 90%;
}

th {
    border:0;
    border-bottom:2px solid #555;
    text-align: center;
    padding:4px;
}

td {
    text-align: center;
    white-space: nowrap;
}

/**  Actions  **/
.actions ul {
    margin: 0;
    padding: 0;
}
.actions li {
    margin:0 0 0.5em 0;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
.actions ul li a {
    font-weight: normal;
    display: block;
    clear: both;
}